body.yt-jira .col-2 {
    column-count: 2;
}

body.yt-jira .col-3 {
    column-count: 3;
}

body.yt-jira .col-4 {
    column-count: 4;
}

body.yt-jira .col-5 {
    column-count: 5;
}

/* body.yt-jira div.ghx-backlog-group > div.ghx-backlog-container.ghx-open.ghx-everything-else.ui-droppable > div.ghx-issues.js-issue-list.ghx-has-issues {
    column-count: 4;
} */

body.yt-jira div.ghx-sprint-info,
 body.yt-jira div.iic,
 body.yt-jira div.ghx-stat-total {
    display: none;
}

body.yt-jira #announcement-banner {
    display: none !important;
}